header.bg-indigo-600.p-4
    div(class="container mx-auto flex justify-between items-center")
        h1.text-2xl.font-extrabold.text-white.text-center Bienes
            span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center font-bold text-white md:gap-3 hidden")
            a(href="") Mis Propiedades
            a(href="") Mi Perfil
            a(class="bg-indigo-800 rounded-lg px-10 py-2" href="") Cerrar SesioÌn

